* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

html {
    height: 100vh;
    margin: 0;
}

body {
    background-image: url(../assets/gradient-4k.jpg);
    /* background-color: #ffffff; */
    width: 100%;
    margin: 0;
}

#root {
    width: 100%;
}

.content-wrapper {
    width: 100%;
}

.header {
    /* background-color: #999; */
    background: rgb(27, 27, 27, .8);
    width: 100%;
    height: 7rem;
}

.menu-button {
    /* width: fit-content; */
    /* font-size: xx-large; */
    /* color: white; */
    /* background-color: rgba(0, 0, 255, 0.0); */
}

.title {
    width: fit-content;
}

.nav-right {
    width: fit-content;
}

h1 {
    font-size: xx-large;
    font-weight: 300;
    width: fit-content;
    background: -webkit-linear-gradient(#fff, #ECECEC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1:hover {
    background-color: aqua;
}

#h1 {
    width: fit-content;
}

.navbar {
    height: 100% !important;
    /* margin: 0; */
    padding: 0;
}

.navi-item:hover {
    background-color: aqua;
}

a {
    text-decoration: none;
}

.active {
    color: 'green';
}

.about-section {
    color: white !important;
}

.portrait {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.react-logo {
    content: url(../assets/logo192.png);
    height: 1rem;
    position: relative;
    top: 3px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.project-card{

}
