* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

html {
    height: 100vh;
    margin: 0;
}

body {
    background-image: url(../assets/gradient-4k.jpg);
    /* background-color: #ffffff; */
    width: 100%;
    margin: 0;
}

.content-wrapper {
    font-size: larger;
}


.navibar {
    padding: 10px 0 10px 0;
}

main {
    text-align: center;
}

.portrait {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.react-logo {
    content: url(../assets/logo192.png);
    height: 1rem;
    position: relative;
    top: 3px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.project-card{

}
